<div class="about-list__item item" js-attr="about-item">
  <div class="item__icon item__icon-{{icon}}"></div>
  <div class="item__text">{{value}}</div>
  <div js-attr="item-click" class="item__changeicon"></div>
  <div>
    <div js-attr="modal" class="modal ">
      <div class="group">
        <input
          js-attr="input"
          js-attr-name="{{name}}"
          value="asdasd"
          type="text"
          required
        />
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>{{name}}</label>
      </div>
      <div class="modal-buttons">
        <button
          js-attr="modal-save"
          class="material-button material-button-success"
        >
          Save
        </button>
        <button
          js-attr="modal-close"
          class="material-button material-button-danger"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
