@import "../../styles/material";
.about-page {
  padding: 20px;
  h1 {
    font-size: 30px;
  }
  /* form starting stylings ------------------------------- */
  .group {
    position: relative;
    margin-bottom: 25px;
  }

  .about-list {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-end;
    width: 200px;
    &__item {
      margin-top: 20px;
    }
    .item {
      display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox; /* TWEENER - IE 10 */
      display: -webkit-flex;
      display: flex;
      align-items: center;
      height: 30px;
      width: 200px;
      background-color: grey;
      font-size: 16px;
      position: relative;
      &__icon {
        justify-self: flex-end;
        height: 30px;
        width: 30px;
        margin-right: 10px;
        background-size: cover;
        background-color: none;
        filter: invert(74%) sepia(96%) saturate(0%) hue-rotate(143deg)
          brightness(101%) contrast(98%);

        &-profile {
          background-image: url("../../assets/icons/person-circle.svg");
        }
        &-webpage {
          background-image: url("../../assets/icons/globe-outline.svg");
        }
        &-phone {
          background-image: url("../../assets/icons/call-outline.svg");
        }
        &-address {
          background-image: url("../../assets/icons/location-outline.svg");
        }
      }
      &__text {
        width: 150px;
      }
      &__changeicon {
        justify-self: flex-end;
        height: 30px;
        width: 30px;
        background-size: cover;
        background-color: #e8eaf6;
        background-image: url("../../assets/icons/pencil-outline.svg");
      }
      .modal {
        @extend .shadow-2;
        display: none;
        position: absolute;
        top: -50px;
        left: 200px;
        width: 220px;
        height: 100px;
        padding: 5px;
        padding-top: 20px;
        z-index: 100;
        background: white;
        color: #fff;
        background-color: 1px solid black;
        -moz-border-radius: 3px; /* this works only in camino/firefox */
        -webkit-border-radius: 3px; /* this is just for Safari */
      }
      .modal:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;

        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid black;
        left: -8px;
        top: 50px;
      }
      .modal.active {
        display: block;
      }
      .modal-buttons {
        display: flex;
      }
    }
  }
  input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    background-color: white;
    border-bottom: 1px solid #757575;
  }
  input:focus {
    outline: none;
  }

  /* LABEL ======================================= */
  label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  /* active state */
  input:focus ~ label,
  input:valid ~ label {
    top: -15px;
    font-size: 14px;
    color: #5264ae;
  }

  /* BOTTOM BARS ================================= */
  .bar {
    position: relative;
    display: block;
    width: 200px;
  }
  .bar:before,
  .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264ae;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .bar:before {
    left: 50%;
  }
  .bar:after {
    right: 50%;
  }

  /* active state */
  input:focus ~ .bar:before,
  input:focus ~ .bar:after {
    width: 50%;
  }

  /* HIGHLIGHTER ================================== */
  .highlight {
    position: absolute;
    height: 40%;
    width: 100px;
    top: 10%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }

  /* active state */
  input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }

  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
    from {
      background: #5264ae;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  @-moz-keyframes inputHighlighter {
    from {
      background: #5264ae;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  @keyframes inputHighlighter {
    from {
      background: #5264ae;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
}

@media only screen and (max-width: 940px) {
}
