<div js-attr="{{elementName}}" class="profile-component">
  <div class="profile-component__profile-info">
    <div
      src="../../assets/profile.jpg"
      class="profile-component__image"
      alt=""
    ></div>
    {{PersonalInfo}}
  </div>
  <div class="profile-component__stars">
    {{StarsComponent}}
  </div>
  {{FollowersComponent}}
</div>
