@import "../../styles/material";

.profile-component {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 140px;
  &__profile-info {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex;
    display: flex;
  }
  &__person-info {
    margin-left: 200px;
  }
  &__image {
    @extend .shadow-2;
    position: absolute;
    background-image: url("../../assets/profile.jpg");
    background-size: 120%;
    margin-left: 10px;
    z-index: 101;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 150px;

    height: 150px;
  }
  &__stars {
    justify-self: flex-end;
  }
}

@media only screen and (max-width: 940px) {
  .profile-component {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex;
    display: flex;

    flex-direction: column;

    position: initial;
    height: auto;
    padding: 20px;
    &__profile-info {
      display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox; /* TWEENER - IE 10 */
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    &__person-info {
      margin-left: 10px;
      align-self: flex-start;
    }
    &__image {
      position: initial;
      background-image: url("../../assets/profile.jpg");
      background-size: 120%;
      margin-left: 0px;
      // z-index: 101;
      margin-bottom: 10px;
      margin-right: 10px;
      width: 150px;
      height: 150px;
    }
  }
}
