.material-button {
  display: block;
  //   margin: 30px auto;
  padding: 10px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  width: 150px;

  &-success {
    background-color: #2ecc71;
  }
  &-danger {
    background-color: #f44336;
  }
  color: #ecf0f1;

  transition: background-color 0.3s;
}
.material-button-outlined {
  @extend .shadow-1;
  color: inherit;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin: 5px;
  background-color: Transparent;
  background-repeat: no-repeat;
  text-transform: uppercase;
  border: 1px solid gray;
  word-wrap: break-word;
  white-space: normal;
  font-weight: 600;
  cursor: pointer;
  border-radius: 3px;
}
.material-button-outlined:hover {
  border: 1.5px solid red;
}

//Shadows
.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

// .shadow-1:hover {
//   box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
// }

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
