@import "./variables";
@import "./fonts";
@import "./material";
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto";
  min-width: 100vw;
  min-height: 100vh;
  background-color: $bg-color;
}
