<div js-attr="{{elementName}}" class="home-page">
  <div class="home-page__profile profile">
    <button class="logout-button profile__logout-button">{{logoutText}}</button>
    <button class="upload-button">
      <span class="upload-button__icon"></span><span>Cover Image</span>
    </button>
    {{ProfileComponent}} {{NavBarComponent}}
  </div>
  <section class="home-page__container">
    {{ActivePage}}
  </section>
</div>
