@import "../../styles/material";

.home-page {
  min-width: 100vw;
  min-height: 100vh;
  // border: 1px solid black;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  &__profile {
    // border: 1px solid black;
    width: 80%;
    min-height: 200px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
  }
  &__container {
    @extend .shadow-2;
    width: 80%;
    min-height: 400px;
    background-color: white;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
  }
}
.profile {
  @extend .shadow-2;
  background-color: white;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  &__logout-button {
    align-self: flex-end;
  }
}

.logout-button {
  @extend .material-button-outlined;
  width: 100px;
}

.upload-button {
  @extend .material-button-outlined;
  width: 150px;
  color: gray;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  &__icon {
    margin-right: 2px;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    align-self: start;
    background-image: url("../../assets/icons/camera.svg");
    background-size: cover;

    filter: invert(74%) sepia(96%) saturate(0%) hue-rotate(143deg)
      brightness(101%) contrast(98%);
  }
}
@media only screen and (max-width: 940px) {
  .home-page {
    &__profile {
      width: 100%;
    }
    &__container {
      width: 100%;
    }
  }
  .profile {
    background-color: transparent;
  }
}
