<div js-attr="{{elementName}}" class="navbar-section">
  <div class="navbar-section__menu menu">
    <ul class="menu__links link-group">
      <li js-attr="link" js-path="about" class=" link-group__link link ">
        {{titleAbout}}
      </li>
      <li js-attr="link" js-path="settings" class=" link-group__link link">
        {{titleSettings}}
      </li>
      <li js-attr="link" js-path="Option1" class=" link-group__link link">
        {{titleOptionOne}}
      </li>
      <li js-attr="link" js-path="Option2" class=" link-group__link link">
        {{titleOptionTwo}}
      </li>
      <li js-attr="link" js-path="Option2" class=" link-group__link link">
        {{titleOptionThree}}
      </li>
    </ul>
  </div>
  {{FollowersComponent}}
</div>
