.navbar-section {
  border-top: 1px solid black;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  &__menu {
    margin-left: 180px;
  }
  &__followers {
    margin-right: 20px;
    &-hide {
      display: none !important;
    }
  }
  .link-group {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex;
    display: flex;
    list-style: none;
    &__link {
      margin: 10px;
    }
  }
}

.link {
  text-decoration: none;
  &-active {
    border-bottom: 12px solid blue;
  }
}

@media only screen and (max-width: 940px) {
  .navbar-section {
    &__menu {
      margin: 0;
      display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox; /* TWEENER - IE 10 */
      display: -webkit-flex;
      display: flex;
      width: 100%;
    }
  }
  .link-group {
    width: 100%;
    font-size: 9px;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    background-color: white;
  }
}
