<div
  js-attr="{{elementName}}"
  class="profile-component__person-info person-info"
>
  <b class="person-info__name">{{personName}}</b>
  <div class="person-info__description person-description">
    <span class="person-description__icon icon-address"></span>
    <span class="person-description__text">{{address}}</span>
  </div>
  <div class="person-info__description person-description">
    <span class="person-description__icon icon-call"> </span>
    <span class="person-description__text"> {{phone}} </span>
  </div>
</div>
