.person-info {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.person-description {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  &__icon {
    filter: invert(51%) sepia(18%) saturate(536%) hue-rotate(155deg)
      brightness(88%) contrast(87%);
  }
}
.icon-address {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-image: url("../../assets/icons/location-outline.svg");
}
.icon-call {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-image: url("../../assets/icons/call-outline.svg");
}
@media only screen and (max-width: 940px) {
  .person-info {
    width: 80%;
    &__name {
      text-align: center;
    }
  }
}
