.followers {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  align-items: center;
  &__plus {
    margin-right: 10px;
  }
}
.followers-plus {
  background-image: url("../../assets/icons/add-circle.svg");
  background-size: cover;
  filter: invert(51%) sepia(18%) saturate(536%) hue-rotate(155deg)
    brightness(88%) contrast(87%);
  width: 20px;
  height: 20px;
}
