.stars-section {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  &__reviewrs {
    margin-left: 20px;
  }
  .stars-group {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex;
    display: flex;
    &__star {
      background-image: url("../../assets/icons/star.svg");
      background-size: cover;
      filter: invert(58%) sepia(64%) saturate(3047%) hue-rotate(147deg)
        brightness(97%) contrast(101%);
      width: 20px;
      height: 20px;
    }
    &__star-half {
      background-image: url("../../assets/icons/star-half.svg");
      background-size: cover;
      filter: invert(58%) sepia(64%) saturate(3047%) hue-rotate(147deg)
        brightness(97%) contrast(101%);
      width: 20px;
      height: 20px;
    }
  }
}

@media only screen and (max-width: 940px) {
  .stars-section {
    flex-direction: column;
    &__reviewrs {
      margin-left: 0px;
    }
  }
}
